target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/cache/
/.txlcn/
/home/
/scaffold-core/scaffold-core-code/src/test/
/home/
/mysql/data/
/rmq/logs/
/rmq/store/
