<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!-- 避免IE使用兼容模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="renderer" content="webkit">
    <!-- TopJUI框架样式 -->
    <link type="text/css" href="../../topjui/themes/default/topjui.core.min.css" rel="stylesheet">
    <link type="text/css" href="../../topjui/themes/default/topjui.blue.css" rel="stylesheet" id="dynamicTheme"/>
    <!-- FontAwesome字体图标 -->
    <link type="text/css" href="../../static/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
    <!-- layui框架样式 -->
    <link type="text/css" href="../../static/plugins/layui/css/layui.css" rel="stylesheet"/>
    <!-- jQuery相关引用 -->
    <script type="text/javascript" src="../../static/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/plugins/jquery/jquery.cookie.js"></script>
    <!-- TopJUI框架配置 -->
    <script type="text/javascript" src="../../static/public/js/topjui.config.js"></script>
    <!-- TopJUI框架核心-->
    <script type="text/javascript" src="../../topjui/js/topjui.core.min.js"></script>
    <!-- TopJUI中文支持 -->
    <script type="text/javascript" src="../../topjui/js/locale/topjui.lang.zh_CN.js"></script>
    <!-- layui框架js -->
    <script type="text/javascript" src="../../static/plugins/layui/layui.js" charset="utf-8"></script>
</head>

<body>
<!-- col-xs col-sm col-md col-lg auto 750 970 1170 -->
<form class="hidden" method="post" data-toggle="topjui-form" data-options="id:'formId'"
      style="padding:20px 20px 20px 5px;">
    <div class="topjui-col-md12">
        <label class="topjui-form-label">用户姓名：</label>
        <div class="topjui-input-block">
            <input type="text" name="" value="用户姓名" data-toggle="topjui-textbox"
                   data-options="required:true,width:'100%',prompt:'必填'">
        </div>
    </div>
    <div class="topjui-col-sm6">
        <label class="topjui-form-label">用户姓名：</label>
        <div class="topjui-input-block">
            <input type="text" name="" data-toggle="topjui-textbox"
                   data-options="required:true,width:'100%',prompt:'必填'">
        </div>
    </div>
    <div class="topjui-col-sm6">
        <label class="topjui-form-label">用户姓名：</label>
        <div class="topjui-input-block">
            <input type="text" name="" data-toggle="topjui-textbox"
                   data-options="required:true,width:'100%',prompt:'必填'">
        </div>
    </div>
    <div class="topjui-col-md4">
        <label class="topjui-form-label">用户姓名：</label>
        <div class="topjui-input-block">
            <input type="text" name="" data-toggle="topjui-textbox"
                   data-options="required:true,width:'100%',prompt:'必填'">
        </div>
    </div>
    <div class="topjui-col-md4">
        <label class="topjui-form-label">用户姓名：</label>
        <div class="topjui-input-block">
            <input type="text" name="" data-toggle="topjui-textbox"
                   data-options="required:true,width:'100%',prompt:'必填'">
        </div>
    </div>
    <div class="topjui-col-md4">
        <label class="topjui-form-label">用户姓名：</label>
        <div class="topjui-input-block">
            <input type="text" name="" data-toggle="topjui-textbox"
                   data-options="required:true,width:'100%',prompt:'必填'">
        </div>
    </div>

    <div class="topjui-col-lg12">
        <div class="topjui-col-lg3">
            <label class="topjui-form-label">录入人员：</label>
            <div class="topjui-input-block">
                <input type="text" name="" data-toggle="topjui-textbox"
                       data-options="required:true,width:'100%',prompt:'必填'">
            </div>
        </div>
        <div class="topjui-col-lg3">
            <label class="topjui-form-label">录入人员：</label>
            <div class="topjui-input-block">
                <input type="text" name="" data-toggle="topjui-textbox"
                       data-options="required:true,width:'100%',prompt:'必填'">
            </div>
        </div>
        <div class="topjui-col-lg3">
            <label class="topjui-form-label">开始时间：</label>
            <div class="topjui-input-block">
                <input type="text" name="birthday" data-toggle="topjui-datebox" data-options="width:'100%'"/>
            </div>
        </div>
        <div class="topjui-col-lg3">
            <label class="topjui-form-label">结束时间：</label>
            <div class="topjui-input-block">
                <input type="text" name="jobDate" data-toggle="topjui-datebox"
                       data-options="required:true,width:'100%',prompt:'入职日期是必填字段'"/>
            </div>
        </div>
    </div>

    <div class="topjui-col-lg12">
        <div class="topjui-col-lg2">
            <label class="topjui-form-label">六列显示：</label>
            <div class="topjui-input-block">
                <input type="text" name="" data-toggle="topjui-textbox"
                       data-options="required:true,width:'100%',prompt:'必填'">
            </div>
        </div>
        <div class="topjui-col-lg2">
            <label class="topjui-form-label">六列显示：</label>
            <div class="topjui-input-block">
                <input type="text" name="" data-toggle="topjui-textbox"
                       data-options="required:true,width:'100%',prompt:'必填'">
            </div>
        </div>
        <div class="topjui-col-lg2">
            <label class="topjui-form-label">六列显示：</label>
            <div class="topjui-input-block">
                <input type="text" name="" data-toggle="topjui-textbox"
                       data-options="required:true,width:'100%',prompt:'必填'">
            </div>
        </div>
        <div class="topjui-col-lg2">
            <label class="topjui-form-label">六列显示：</label>
            <div class="topjui-input-block">
                <input type="text" name="" data-toggle="topjui-textbox"
                       data-options="required:true,width:'100%',prompt:'必填'">
            </div>
        </div>
        <div class="topjui-col-lg2">
            <label class="topjui-form-label">六列显示：</label>
            <div class="topjui-input-block">
                <input type="text" name="" data-toggle="topjui-textbox"
                       data-options="required:true,width:'100%',prompt:'必填'">
            </div>
        </div>
        <div class="topjui-col-lg2">
            <label class="topjui-form-label">六列显示：</label>
            <div class="topjui-input-block">
                <input type="text" name="" data-toggle="topjui-textbox"
                       data-options="required:true,width:'100%',prompt:'必填'">
            </div>
        </div>
    </div>
</form>
</body>
</html>