<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.scaffold.sys.sys.dao.SysMenuMapper">
  <resultMap id="BaseResultMap" type="com.cms.scaffold.sys.sys.domain.SysMenu">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="i18n_nid" jdbcType="VARCHAR" property="i18nNid" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="level_id" jdbcType="INTEGER" property="levelId" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="icon_cls" jdbcType="VARCHAR" property="iconCls" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="resource_type" jdbcType="VARCHAR" property="resourceType" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="add_user" jdbcType="VARCHAR" property="addUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="sql_columns">
    id,name,i18n_nid,pid,level_id,url,icon_cls,status,sort,code,state,resource_type,add_time,add_user,update_time,update_user,remark
  </sql>
  <sql id="sql_where">
    <where>
      <if test="null != advanceFilterStr and ''!= advanceFilterStr">
        ${advanceFilterStr}
      </if>
      <if test="null == advanceFilterStr or ''== advanceFilterStr">
          <if test="null != id and '' != id or 0 ==id">and id = #{id}</if>
          <if test="null != name and '' != name">and name = #{name}</if>
          <if test="null != i18nNid and '' != i18nNid">and i18n_nid = #{i18nNid}</if>
          <if test="null != pid and '' != pid or 0 ==pid">and pid = #{pid}</if>
          <if test="null != levelId and '' != levelId or 0 ==levelId">and level_id = #{levelId}</if>
          <if test="null != url and '' != url">and url = #{url}</if>
          <if test="null != iconCls and '' != iconCls">and icon_cls = #{iconCls}</if>
          <if test="null != status and '' != status or 0 ==status">and status = #{status}</if>
          <if test="null != sort and '' != sort or 0 ==sort">and sort = #{sort}</if>
          <if test="null != code and '' != code">and code = #{code}</if>
          <if test="null != state and '' != state">and state = #{state}</if>
          <if test="null != resourceType and '' != resourceType">and resource_type = #{resourceType}</if>
          <if test="null != addTime and '' != addTime">and add_time = #{addTime}</if>
          <if test="null != addUser and '' != addUser">and add_user = #{addUser}</if>
          <if test="null != updateTime and '' != updateTime">and update_time = #{updateTime}</if>
          <if test="null != updateUser and '' != updateUser">and update_user = #{updateUser}</if>
          <if test="null != remark and '' != remark">and remark = #{remark}</if>
      </if>
	</where>
  </sql>
  <sql id="sql_map_where">
    <where>
	  <foreach collection="map.keys" item="k" separator="and">
 	      <if test="null != map[k]">
	          a.${k} = #{map[${k}]}
	      </if>
	  </foreach>
	</where>
  </sql>
  <select id="selectById" resultMap="BaseResultMap">
    select <include refid="sql_columns" /> from sys_menu where id = #{id}
  </select>
  <select id="selectCacheById" resultMap="BaseResultMap">
    select <include refid="sql_columns" /> from sys_menu where id = #{id}
  </select>
  <select id="selectLockById" resultMap="BaseResultMap">
    select <include refid="sql_columns" /> from sys_menu where id = #{id} for update
  </select>
  <select id="selectOne" resultMap="BaseResultMap">
    select <include refid="sql_columns" /> from sys_menu <include refid="sql_where" />
  </select>
  <select id="findList" resultMap="BaseResultMap">
    select <include refid="sql_columns" /> from sys_menu <include refid="sql_where" />
  </select>
  <select id="selectMap" resultMap="BaseResultMap">
    select <include refid="sql_columns" /> from sys_menu <include refid="sql_map_where" />
  </select>
  <select id="count" resultType="java.lang.Integer">
    select count(1) from sys_menu <include refid="sql_where" />
  </select>
  <sql id="sql_insert_columns">
    insert into sys_menu
	 <trim prefix="(" suffix=")" suffixOverrides=",">
	  <if test="null != item.name"> name,</if>
	  <if test="null != item.i18nNid"> i18n_nid,</if>
	  <if test="null != item.pid"> pid,</if>
	  <if test="null != item.levelId"> level_id,</if>
	  <if test="null != item.url"> url,</if>
	  <if test="null != item.iconCls"> icon_cls,</if>
	  <if test="null != item.status"> status,</if>
	  <if test="null != item.sort"> sort,</if>
	  <if test="null != item.code"> code,</if>
	  <if test="null != item.state"> state,</if>
	  <if test="null != item.resourceType"> resource_type,</if>
	  <if test="null != item.addTime"> add_time,</if>
	  <if test="null != item.addUser"> add_user,</if>
	  <if test="null != item.updateTime"> update_time,</if>
	  <if test="null != item.updateUser"> update_user,</if>
	  <if test="null != item.remark"> remark,</if>
	</trim>
  </sql>
  <sql id="sql_insert_values">
        <trim prefix="values (" suffix=")" suffixOverrides=",">
	  <if test="null != item.name"> #{item.name},</if>
	  <if test="null != item.i18nNid"> #{item.i18nNid},</if>
	  <if test="null != item.pid"> #{item.pid},</if>
	  <if test="null != item.levelId"> #{item.levelId},</if>
	  <if test="null != item.url"> #{item.url},</if>
	  <if test="null != item.iconCls"> #{item.iconCls},</if>
	  <if test="null != item.status"> #{item.status},</if>
	  <if test="null != item.sort"> #{item.sort},</if>
	  <if test="null != item.code"> #{item.code},</if>
	  <if test="null != item.state"> #{item.state},</if>
	  <if test="null != item.resourceType"> #{item.resourceType},</if>
	  <if test="null != item.addTime"> #{item.addTime},</if>
	  <if test="null != item.addUser"> #{item.addUser},</if>
	  <if test="null != item.updateTime"> #{item.updateTime},</if>
	  <if test="null != item.updateUser"> #{item.updateUser},</if>
	  <if test="null != item.remark"> #{item.remark},</if>
	</trim>
  </sql>
  <insert id="insert" keyProperty="item.id" useGeneratedKeys="true">
    <include refid="sql_insert_columns" /><include refid="sql_insert_values" />
  </insert>
  <insert id="batchInsert">
    <foreach close="" collection="list" index="index" item="item" open="" separator=";">
	  <include refid="sql_insert_columns" /><include refid="sql_insert_values" />
	</foreach>
  </insert>
  <sql id="sql_update">
    update sys_menu set id = #{item.id}
      <if test="null != item.name">, name = #{item.name}</if>
      <if test="null != item.i18nNid">, i18n_nid = #{item.i18nNid}</if>
      <if test="null != item.pid">, pid = #{item.pid}</if>
      <if test="null != item.levelId">, level_id = #{item.levelId}</if>
      <if test="null != item.url">, url = #{item.url}</if>
      <if test="null != item.iconCls">, icon_cls = #{item.iconCls}</if>
      <if test="null != item.status">, status = #{item.status}</if>
      <if test="null != item.sort">, sort = #{item.sort}</if>
      <if test="null != item.code">, code = #{item.code}</if>
      <if test="null != item.state">, state = #{item.state}</if>
      <if test="null != item.resourceType">, resource_type = #{item.resourceType}</if>
      <if test="null != item.addTime">, add_time = #{item.addTime}</if>
      <if test="null != item.addUser">, add_user = #{item.addUser}</if>
      <if test="null != item.updateTime">, update_time = #{item.updateTime}</if>
      <if test="null != item.updateUser">, update_user = #{item.updateUser}</if>
      <if test="null != item.remark">, remark = #{item.remark}</if>
	where id = #{item.id}
  </sql>
  <sql id="sql_update_all">
    update sys_menu set id = #{item.id}
	  , name = #{item.name}
	  , i18n_nid = #{item.i18nNid}
	  , pid = #{item.pid}
	  , level_id = #{item.levelId}
	  , url = #{item.url}
	  , icon_cls = #{item.iconCls}
	  , status = #{item.status}
	  , sort = #{item.sort}
	  , code = #{item.code}
	  , state = #{item.state}
	  , resource_type = #{item.resourceType}
	  , add_time = #{item.addTime}
	  , add_user = #{item.addUser}
	  , update_time = #{item.updateTime}
	  , update_user = #{item.updateUser}
	  , remark = #{item.remark}
	where id = #{item.id}
  </sql>
  <update id="update">
    <include refid="sql_update" />
  </update>
  <update id="batchUpdate">
    <foreach close="" collection="list" index="index" item="item" open="" separator=";">
	  <include refid="sql_update" />
	</foreach>
  </update>
  <update id="updateAll">
    <include refid="sql_update_all" />
  </update>
  <update id="updateCompare" />
  <delete id="delArray">
    delete from sys_menu where id in
	<foreach close=")" collection="array" index="index" item="item" open="(" separator=",">#{item}</foreach>
  </delete>
  <delete id="delList">
    delete from sys_menu where id in
	<foreach close=")" collection="list" index="index" item="item" open="(" separator=",">#{item}</foreach>
  </delete>
</mapper>